<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>main page</title>
</head>
    <!--/* css */-->
    <!--
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/common.css">
    -->
    <link th:href="@{/css/home.css}" rel="stylesheet" />
    <link th:href="@{/css/common.css}" rel="stylesheet" />
<body>
<div th:insert="~{/fragments/header}" class="header">

</div>

<div class="content">
    <div class="introduce_menu">
        <h3>평생학습 시대, 미래를 위한 새로운 공간</h3>
        <h2>아래에서 원하시는 메뉴를 터치해주세요</h2>
    </div>
    <div class="content_menu">
        <div class="ticket_options">
            <div class="ticket_item">1회권/세미나실</div>
            <div class="ticket_item">기간권</div>
            <div class="ticket_item">정액권</div>
        </div>
        <div class="additional_options">
            <div class="option_item">자리이동</div>
            <div class="option_item">바코드 출력</div>
            <div class="option_item">이용권 퇴장</div>
        </div>
    </div>
</div>

<div th:insert="~{/fragments/footer}" class="footer"><h2>You are in offline </h2>
</div>
</body>
</html>