<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<!--

<link rel="stylesheet" href="/static/css/header.css">
-->
<link th:href="@{/css/header.css}" rel="stylesheet"/>
<body>
<!-- 환영 인사말이랑 회원가입버튼, 로그인 버튼 로그인 후에는 회원가입버튼, 로그인 버튼이 나타나지 않게 하고 로그아웃 버튼 생기게까지만.-->
<div class="top-nav">
    <div class="nav-detail">
        <h2 class="top-nav-login"><a sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a></h2>
        <h2 class="top-nav-login"><a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a></h2>
        <h2 class="top-nav-login"><a sec:authorize="isAnonymous()" th:href="@{/signup}">회원가입</a></h2>
        <h2 class="top-nav-login"><a th:href="@{/member/info}">내 정보</a></h2>
        <h2 class="top-nav-login"><a th:href="@{/admin}">관리자</a></h2>

    </div>
    <div class="nav-detail">
        <h2>미래를 위한 준비, SHC 스터디카페</h2>

    </div>

</div>


</body>
</html>