body, html {
    height: 100%;
    width: 100%;
    font-font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.header {
    height: 8%;
}

.content {
    border: black solid medium;
    height: 84%;
}

.footer {
    height: 8%;
}