.header {
    height: 120px;
    width: 100%;
}
.content {
    height: 800px;
    width: 100%;
    background-color: deepskyblue;
    background-image:url("../image/study_icon.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.introduce_menu{
    width:100%;
    height: 12%;
    text-align: center;
}

.introduce_menu h2{
    color: white;
    font-size: 2.5em;
    margin:0;
}

.introduce_menu h3{
    color:greenyellow;
    font-size:2em;
    margin-top: 1px;
    font-family: "나눔고딕 ExtraBold", serif;
}

.content_menu{
    width:80%;
    height:88%;
    margin-left: 9%;
    margin-right: 9%;
    text-align: center;
    font-size: 3em;
    font-family: "휴먼편지체", serif;

}
.content_menu .ticket_options{
    display: inline-block;
    width:45%;
    height: 100%;
}
.content_menu .additional_options{
    display: inline-block;
    width:35%;
    margin-left: 10%;
    height: 100%;

}
.content_menu .ticket_options .ticket_item {
    margin-top:60px;
    width:100%;
    height: 22%;
    background-color:yellow;
    line-height: 160px;

}
.content_menu .additional_options .option_item {
    margin-top:60px;
    width:50%;
    height:22%;
    margin-right:auto;
    margin-left:auto;
    background-color:green;
    line-height: 160px;

}
.footer {
    height: 120px;
    width:100%;
}